.app-bar-empty {
    height: 50px;
    margin-bottom: 16px;
}

.app-bar-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 6px;
    background-color: #c2e0ff14;
    border: 1px solid var(--border);
    backdrop-filter: blur(20px);
    z-index: 10;
}

.app-bar-container {
    max-width: calc(var(--max-wrapper-width) + 48px) ;
    width: 100%;
    margin: 0 auto;
}