* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.wrapper {
    max-width: var(--max-wrapper-width);
    width: 100%;
    margin: 0 auto;
}

