:root {
  --primary-font-color: #4f5b62;
  --secondary-font-color: #FF5722;

  --success: #2e7d32;
  --warning: #ed6c02;
  --error: #d32f2f;

  --yellow: #ffba3a;

  --green: #6FE0B0;
  --border: #0000004e;
}

:root {
  --primary-title-size: 48px;
  --primary-subtitle-size: 18px;
  --primary-text-size: 16px;
}

:root {
  --max-wrapper-width: 1180px;
}